<h1>{{name}}</h1>
    <h3>Email: {{email}}</h3>
    <h3>street: {{address.street}}</h3>
    <h3>city: {{address.city}}</h3>
    <h3>state: {{address.state}}</h3>
    <button (click)="toggleHobbies()">{{showHobbies?"Hide hobbies":"Show hobbies"}}</button>
    <div *ngIf="showHobbies">
        <h3>Hobbies</h3>
        <ul>
            <li *ngFor="let hobby of hobbies; let i = index">
                {{hobby}}
                <button (click)="deleteHobby()">x</button>
            </li>
        </ul>
        <form (submit)="addHobby(hobby.value)">
            <label>Add hobby: </label><br />
            <input type="hobby" name="hobby" #hobby /> <br/>
        </form>
    </div>
    <hr />
    <form>
        <label><strong>name: </strong></label>
        <input type="text" name="name" [(ngModel)]="name" /> <br/>
        <label><strong>email: </strong></label>
        <input type="text" name="email" [(ngModel)]="email" /> <br/>
        <label><strong>street: </strong></label>
        <input type="text" name="address.street" [(ngModel)]="address.street" /><br />
        <label><strong>street: </strong></label>
        <input type="text" name="address.city" [(ngModel)]="address.city" /><br />
        <label><strong>city: </strong></label>
        <input type="text" name="address.state" [(ngModel)]="address.state" /><br />
    </form>
    <hr />
    <h3> Posts </h3>
    <div *ngFor="let post of posts">
        <h4>{{post.id}}</h4>
        <h4>{{post.email}}</h4>
        <h4>{{post.name}}</h4>
        <h4>{{post.body}}</h4>
    </div>